.manage-container{
  min-height: 100vh; /* Ensures background covers at least the full screen */
  background-color: rgb(245, 249, 249); /* The light gray from your UI */
  display: flex;
  flex-direction: column;
  padding-bottom: 50px; /* Space at the very bottom so cards don't hit the edge */
}

.manage-opp-nav{
  background-color: rgb(255, 255, 255);
  padding: 20px;
  color: black;
   box-shadow: 0px 5px 10px rgb(180, 178, 178);
}

.top-bar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;
}

.back-btn{
  border:none;
  background:none;
  height: 35px;
  width: auto;
  padding: 10px;
  border-radius: 10px;
  display:flex;
  align-items:center;
  gap:8px;
  cursor:pointer;
  font-size:15px;
  color: black;
  transition: all 0.3 cubic-bezier(0.25, 0.8, 0.25, 1);
}

.back-btn:hover{
  background-color: #11833f;
}

.add-btn{
  background:#14532d;
  color:white;
  border:none;
  padding:10px 18px;
  border-radius:10px;
  display:flex;
  align-items:center;
  gap:8px;
  cursor:pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); 
}

.add-btn:hover{
  background-color:#076836;
  transform: translateY(-2px);
}

.page-title h1{
  font-size:30px;
}

.page-title p{
  color:#6b7280;
  margin-bottom:5px;
}

.opportunity-grid {
  /* height: 100vh; <-- DELETE THIS LINE */
  padding: 30px;
  display: grid; /* Use grid for better alignment */
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); 
  gap: 24px;
  width: 100%;
}