.opportunity-card{
  background:rgb(255, 255, 255);
  border:1px solid #e5e7eb;
  border-radius:16px;
  padding:10px;
  width:400px;
  height: auto;
  box-shadow:0 2px 4px rgba(0,0,0,0.04);
  overflow: hidden;
}

.card-header{
  display:flex;
  align-items:center;
  gap:12px;
  margin-bottom:5px;
}

.company-icon{
  color:#2563eb;
}

.company-logo {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  object-fit: cover;
  border: 1px solid #f3f4f6;
  flex-shrink: 0;
}

.card-info{
  margin-bottom:10px;
  background-color: rgb(255, 255, 255);
}

.label{
  font-size:14px;
  color:#6b7280;
  margin-top:10px;
}

.value{
  font-weight:500;
  margin-top:2px;
  color: black;
}

.card-meta{
  display:flex;
  justify-content:space-between;
  margin-top:14px;
}

.card-actions{
  display:flex;
  gap:12px;
  margin-top:20px;
}

.edit-btn{
  flex:1;
  border:1px solid #d1d5db;
  background:white;
  color: black;
  font-family: inherit;
  font-weight: 500;
  padding:10px;
  border-radius:10px;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:6px;
  cursor:pointer;

  transition: all 0.2s cubic-bezier(0.8, 0.25, 0.8, 1);
}

.edit-btn:hover{
  background: #14532d;
  color: white;
}

.delete-btn{
  flex:1;
  border:none;
  background:#e11d48;
  color:white;
  font-family: inherit;
  font-weight: 500;
  padding:10px;
  border-radius:10px;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:6px;
  cursor:pointer;

 transition: all 0.3s cubic-bezier(0.8, 0.25, 0.8, 1);
}

.delete-btn:hover{
  background: #ad2542;
}